/**
red: #d32531
grey: #e0e1e6
*/

body {
    width: 100%;
    margin: 0 auto 0 auto;
    height: 100%;
}

.navbar {
    margin: 0 auto 1% auto;
    background-color: snow !important;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #e0e1e6;
    position: absolute;
}

.navbar .logo {
    font-size: larger;
}

.container {
    width: 90%;
    margin: 0 auto 0 auto;
    position: absolute;
    top: 5%;
    left: 5%;
}

.table-container {
    overflow-y: auto;
    max-height: 30em;
}

table,
th,
td {
    border: 1px solid #e0e1e6;
    margin: 0;
    padding: 1em;
    border-collapse: collapse;
}

.album-row[draggable=true] {
    cursor: grab;
}

tbody tr:hover {
    background-color: #d5d5d5;
}

.over {
    opacity: 80%;
    background-color: #d5d5d5;
}

.dragged {
    background-color: #f0f0f0;
    border: 1px solid black;
}

.fallback {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: xx-small;
    border: 2px solid black;
}

.top-btn-div {
    position: absolute;
    right: 1%;
}